@import "bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

.navbar-logo {
  height: 60px;
}
.nav-item {
  font-size: 20px;
}

body {
  cursor: url("/backgrounds/paw-white.png"), auto;
}

a,
button {
  cursor: url("/backgrounds/paw_black.png"), auto;
}

/* CSS pour réduire la taille du carrousel et le centrer */
.carousel {
  max-width: 100%;
  max-height: 600px; /* Hauteur de la bannière */
  margin: 0 auto; /* Centrer le carrousel */
}

.carousel-item img {
  height: 600px; /* Hauteur des images dans le carrousel */
  object-fit: contain; /* Les images remplissent le bloc en conservant le rapport d'aspect */
}

.custom-header {
  background-image: url("/backgrounds/bgd4.jpg");
  background-repeat: repeat;
  // background-position: 0 0;
  background-size: contain;
  width: 100%;
  height: auto;
}

.card {
  /* height: 425px; */
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}

.grid .text {
  padding: 20px;
}

.card h3 {
  font-size: 1.3rem;
  font-family: "Fredoka One", cursive;
}

.card h3 a {
  color: #000;
}

.card h3 a:hover {
  color: #0069d9;
}

.card .price {
  font-size: 1.5rem;
}

.card .price span {
  font-weight: bold;
  color: #fcf526;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}

.detail {
  margin: 5px;
  font-size: 18px;
}

.detail span {
  font-weight: bold;
}

/* Styles principaux pour améliorer l'apparence du formulaire */
form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .form-group {
  margin-bottom: 15px;
}

form .form-group label {
  font-weight: bold;
}

form .form-control {
  border-radius: 5px;
  padding: 10px;
}

form .btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

/* Styles pour l'animation */
form .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transition: all 0.2s ease-in-out;
}

/* Styles supplémentaires pour centrer le titre */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Styles supplémentaires pour le bouton */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #494f54;
  border-color: #494f54;
}
